<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>What's Paul Brewing?</title>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>
  <h1>What's Paul Brewing?</h1>
  
  <h3>Currently on Tap</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Style</th>
      <th class="align-right">ABV</th>
      <th class="align-right">IBU</th>
      <th>Brew Date</th>
      <th>Bottle Date</th>
    </thead>
    <tbody>
      <tr>
        <td>Vanilla Coffee Stout</td>
        <td>American Stout</td>
        <td class="align-right">7.1%</td>
        <td class="align-right">46</td>
        <td>2020-11-29</td>
        <td>2021-01-09</td>
      </tr>
    </tbody>
  </table>

  <h3>Almost Ready</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Style</th>
      <th class="align-right">ABV</th>
      <th class="align-right">IBU</th>
      <th>Brew Date</th>
      <th>Bottle Date</th>
    </thead>
    <tbody>
      <tr>
        <td>Your Father's Mustache</td>
        <td>Pre-Prohibition Lager</td>
        <td class="align-right">7.0%</td>
        <td class="align-right">40</td>
        <td>2021-01-30</td>
        <td>2021-03-11</td>
      </tr>
    </tbody>
  </table>
  
  <h3>Currently Fermenting</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Style</th>
      <th>Brew Date</th>
    </thead>
    <tbody>
      <tr>
        <td>Tony in the Jungle</td>
        <td>American IPA</td>
        <td>2020-03-06</td>
      </tr>
    </tbody>
  </table>

  <h3>Past Brews</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Style</th>
      <th class="align-right">ABV</th>
      <th class="align-right">IBU</th>
      <th>Brew Date</th>
      <th>Bottle Date</th>
    </thead>
    <tbody>
      <tr>
        <td>Southern Tier Pumking Clone</td>
        <td>Pumpkin Ale</td>
        <td class="align-right">6.8%</td>
        <td class="align-right">53</td>
        <td>2020-11-15</td>
        <td>2020-12-12</td>
      </tr>
    </tbody>
  </table>
</body>
</html>