body {
  font-family: sans-serif;
  margin: 0 10rem;
}

h3 {
  padding-top: 2rem;
}

table {
  border-collapse: collapse;
}

th {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgba(24, 125, 226, 0.1);
}

td {
  padding-top: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-right {
  text-align: right;
}