{{ $status := .status }}
<h3>{{ .header }}</h3>
<div class="pure-g">
  {{ if eq $status "ferment" }}
    <div class="pure-u-1 list-heading">
        <div class="pure-u-2-3">
          <div class="pure-u-1 pure-u-md-1-2"><span>Name</span></div>
          <div class="pure-u-1 pure-u-md-1-2"><span>Style</span></div>
        </div>
        <div class="pure-u-1-3">
          <div><span>Brew Date</span></div>
        </div>
      </div>
  {{ else }}
    <div class="pure-u-1 list-heading">
        <div class="pure-u-1-2">
          <div class="pure-u-1 pure-u-md-2-3"><span>Cap – Name</span></div>
          <div class="pure-u-1 pure-u-md-1-3"><span>Style</span></div>
        </div>
        <div class="pure-u-1-6">
          <div class="pure-u-1 pure-u-md-1-2"><span>ABV</span></div>
          <div class="pure-u-1 pure-u-md-1-2"><span>IBU</span></div>
        </div>
        <div class="pure-u-1-3">
          <div class="pure-u-1 pure-u-md-1-2"><span>Brew Date</span></div>
          <div class="pure-u-1 pure-u-md-1-2"><span>Bottle Date</span></div>
        </div>
      </div>
    {{ end }}
    {{ range sort .batches "id" "desc" }}
      {{ if eq $status .status }}
        {{ partial "batch-row" . }}
      {{ end }}
    {{ end }}
</div>